<html>
<body>
    <form method="post" action="/marksheetprocess">
        No1:<input type="text" placeholder = "Enter the No1" autocomplete="off"name ="text1" required />
        No2:<input type="text" placeholder = "Enter the No2" autocomplete="off"name ="text2" required />
        <input type = "submit"/>
       </form>
</body>
</html>